@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
    padding-top:80px;
    font-family: 'Lato', 'sans-serif';
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    background: #f1f1f1 url("http://subtlepatterns.com/patterns/old_map.png") repeat;
    background-image: -webkit-image-set(url("http://subtlepatterns.com/patterns/old_map.png") 1x, url("http://subtlepatterns.com/patterns/old_map.png") 2x);
    background-size: 135px 91px;}

}
.profile
{
    min-height: 355px;
    display: inline-block;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.navbar-inverse {
    background: #32363c;
    border-color: #2c2f33;
}
.navbar-inverse .navbar-nav.choose_page {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    left: 45%;
    margin-left: -315px;
}
.navbar-inverse .navbar-nav.choose_page li a {
    padding-left: 44px;
    padding-right: 24px;
}
.navbar-inverse .navbar-nav>.active a {
    background: #232528;
    color: #fff;
}
.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
    padding: 8px;
    overflow: hidden;
}
.label,.glyphicon { margin-right:5px; }

.content_with_margin {
    background: white;
    margin-bottom: 40px;
    padding: 40px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    -webkit-box-shadow: rgba(0,0,0,0.05) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.05) 0 1px 3px;
    box-shadow: rgba(0,0,0,0.05) 0 1px 3px;
    color: #474b50;
    overflow: visible;
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}
.panel {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
.footer {
    padding-top: 25px;
    padding-bottom: 15px;
    color: #8e9397;
    font-size: 12px;
}
.form-control { margin-bottom: 10px; }

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}
.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}



@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
